<div class="page-heading">
    <h2>Cities</h2>
</div>
<div class="table-scroll">
    <div class="table-header clearfix">
        <div class="left">
            <p>Cities</p>
        </div>
        <div class="right">
            <button class="add-button" (click)="add()">Add</button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>City Name</th>
                <th>City State</th>
                <th>Latitude</th>
                <th>Longitude </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cities; let i = index">
                <td>{{city.cityName}}</td>
                <td>{{city.cityState}}</td>
                <td>{{city.location[0]}}</td>
                <td>{{city.location[1]}}</td>
                <td>
                    <div class="icon" (click)="update(i, 'cityModal')">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 34.5v7.5h7.5l22.13-22.13-7.5-7.5-22.13 22.13zm35.41-20.41c.78-.78.78-2.05 0-2.83l-4.67-4.67c-.78-.78-2.05-.78-2.83 0l-3.66 3.66 7.5 7.5 3.66-3.66z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                    <div class="icon" (click)="delete(i)">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4v-24h-24v24zm26-30h-7l-2-2h-10l-2 2h-7v4h28v-4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal input-modal active" [ngClass]="{'active': currentModal != cityModal}">
    <div class="box">
        <div class="box-heading">{{modalMode}} Cities</div>
        <form [formGroup]="cityForm" class="form">
            <div class="heading-error">{{errorMessage}}</div>
            <div class="input">
                <div class="label">City Name:</div>
                <input formControlName="cityName" id="cityName" placeholder="city Name " required/>
                <control-messages [control]="cityForm.controls.cityName"  class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">City State:</div>
                <input formControlName="cityState" id="cityState" placeholder="city State" required/>
                <control-messages [control]="cityForm.controls.cityState" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Latitude:</div>
                <input type="number" formControlName="latitude" id="latitude" placeholder="Latitude" required/>
                <control-messages [control]="cityForm.controls.latitude" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Longitude:</div>
                <input type="number" formControlName="longitude" id="longitude" placeholder="Longitude" required/>
                <control-messages [control]="cityForm.controls.longitude" class="controlMessage"></control-messages>
            </div>
            <div (click)="addOREditCity()" class="input btn">
                {{modalMode}}
            </div>
        </form>
    </div>
    <div class="close" (click)="closeModal()">
        <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;height: 25px;width: 25px;" version="1.1" viewBox="0 0 512 512"
            width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path>
      </svg>
    </div>
</div>