<div class="page-heading">
    <h2>Collections</h2>
</div>
<div class="table-scroll">
    <div class="table-header clearfix">
        <div class="left">
            <p>Collection</p>
        </div>
        <div class="right">
            <button class="add-button" (click)="add()">Add</button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Collection images </th>
                <th>Collection Type</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let collection of collections; let i = index">
                <td>{{collection.collectionName}}</td>
                <td>
                    <img [attr.src]="apiUrl+collection.collectionPicture" />
                </td>
                <td>{{collection.collectionType}}</td>
                <td>
                    <div class="icon" (click)="update(i, 'collectionModal')">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 34.5v7.5h7.5l22.13-22.13-7.5-7.5-22.13 22.13zm35.41-20.41c.78-.78.78-2.05 0-2.83l-4.67-4.67c-.78-.78-2.05-.78-2.83 0l-3.66 3.66 7.5 7.5 3.66-3.66z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                    <div class="icon" (click)="delete(i)">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4v-24h-24v24zm26-30h-7l-2-2h-10l-2 2h-7v4h28v-4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal input-modal active" [ngClass]="{'active': currentModal != collectionModal}">
    <div class="box">
        <div class="box-heading">{{modalMode}} Collections</div>
        <form [formGroup]="collectionForm" class="form">
            <div class="heading-error">{{errorMessage}}</div>
            <div class="input">
                <div class="label">Collection type:</div>
                <select formControlName="collectionType">
                    <option value="store">store</option>
                    <option value="offer">offer</option>
                    <option value="cataloge">cataloge</option>
                </select>
                <control-messages [control]="collectionForm.controls.collectionType" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Store type:</div>
                <select formControlName="storeType">
                    <option value="buisnessOnline">Online</option>
                    <option value="buisnessOffline">Offline</option>
                </select>
                <control-messages [control]="collectionForm.controls.storeType" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Select city:</div>
                <input formControlName="searchCity" id="searchCity" placeholder="Search city" autocomplete="off" />
                <ul class="result" [ngClass]="{'active': cityResultDropdown}">
                    <li *ngFor="let city of cityResult; let i = index" (click)="citySelect(i)">{{city.cityName}}</li>
                </ul>
                <ul class="selected">
                    <li *ngFor="let city of selectedCity; let i = index">
                        <span>{{city.cityName}}</span>
                        <span class="remove" (click)="removeCity(i)">X</span>
                    </li>
                </ul>
            </div>
            <div class="input">
                <div class="label">Collection Name:</div>
                <input formControlName="collectionName" id="collectionName" placeholder="collection name" required/>
                <control-messages [control]="collectionForm.controls.collectionName" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Collection Image:</div>
                <div class="fileContainer">
                    <div class="icon">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M38 26h-12v12h-4v-12h-12v-4h12v-12h4v12h12v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                    <span>Add Image</span>
                    <input type="file" fileName="collectionPicture" (change)="onFileChange($event)" accept="image/*" placeholder="Collection Image"
                        id="collectionPicture" />
                </div>
                <div class="image-container">+
                    <img id="collectionImage" [attr.src]="modalMode == 'Update'?  apiUrl+collectionForm.controls.collectionPicture.value : 'dfdf'" />
                </div>      
                <input type="hidden" name="fileHidden" formControlName="collectionPicture" />
                <control-messages [control]="collectionForm.controls.collectionPicture" class="controlMess age"></control-messages>
            </div>
            <div class="input" *ngIf="collectionForm.controls.collectionType.value == 'store'">
                <div class="label">Select store:</div>
                <input formControlName="searchStore" id="searchStore" placeholder="Search store" autocomplete="off" />
                <ul class="result" [ngClass]="{'active': storeResultDropdown}">
                    <li *ngFor="let store of storeResult; let i = index" (click)="storeSelect(i)">{{store.storeName}}</li>
                </ul>
                <ul class="selected">
                    <li *ngFor="let store of selectedStore; let i = index">
                        <span>{{store.storeName}}</span>
                        <span class="remove" (click)="removeStore(i)">X</span>
                    </li>
                </ul>
            </div>
            <div class="input" *ngIf="collectionForm.controls.collectionType.value == 'cataloge'">
                <div class="label">Select cataloge:</div>
                <input formControlName="searchCataloge" id="searchCataloge" placeholder="Search cataloge" autocomplete="off" />
                <ul class="result" [ngClass]="{'active': catalogeResultDropdown}">
                    <li *ngFor="let cataloge of catalogeResult; let i = index" (click)="catalogeSelect(i)">{{cataloge.catalogDescription}}</li>
                </ul>
                <ul class="selected">
                    <li *ngFor="let cataloge of selectedCataloge; let i = index">
                        <span>{{cataloge.catalogDescription}}</span>
                        <span class="remove" (click)="removeCataloge(i)">X</span>
                    </li>
                </ul>
            </div>
            <div class="input" *ngIf="collectionForm.controls.collectionType.value == 'offer'">
                <div class="label">Select offer:</div>
                <input formControlName="searchOffer" id="searchOffer" placeholder="Search offer" autocomplete="off" />
                <ul class="result" [ngClass]="{'active': offerResultDropdown}">
                    <li *ngFor="let offer of offerResult; let i = index" (click)="offerSelect(i)">{{offer.offerName}}</li>
                </ul>
                <ul class="selected">
                    <li *ngFor="let offer of selectedOffer; let i = index">
                        <span>{{offer.offerName}}</span>
                        <span class="remove" (click)="removeOffer(i)">X</span>
                    </li>
                </ul>
            </div>


            <div (click)="addOREditCollection()" class="input btn">
                {{modalMode}}
            </div>
        </form>
    </div>
    <div class="close" (click)="closeModal()">
        <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;height: 25px;width: 25px;" version="1.1" viewBox="0 0 512 512"
            width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path>
        </svg>
    </div>
</div>