<div class="page-heading">
  <h2>Stores</h2>
</div>
<div class="table-scroll">
  <div class="table-header clearfix">
    <div class="left">
      <p>Stores</p>
    </div>
    <!-- <div class="right">
      <button class="add-button" (click)="add()">Add</button>
    </div> -->
  </div>
  <table>
    <thead>
      <tr>
        <th>Store Name</th>
        <th>Store Status</th>
        <th>Change Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let store of stores; let i = index">
        <td>{{store.storeName}}</td>
        <td>{{store.isActive}}</td>
        <td (click)="changeStatus(i)" class="btn" [ngClass]="{'Activate' : store.isActive, 'Deactivate' : !store.isActive}" > {{store.isActive ? 'Deactivate':'Activate'}} </td>
        <td>
          <div class="icon" (click)="update(i, 'storeModal')">
              <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 34.5v7.5h7.5l22.13-22.13-7.5-7.5-22.13 22.13zm35.41-20.41c.78-.78.78-2.05 0-2.83l-4.67-4.67c-.78-.78-2.05-.78-2.83 0l-3.66 3.66 7.5 7.5 3.66-3.66z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
          </div>
          <div class="icon" (click)="delete(i)">
              <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4v-24h-24v24zm26-30h-7l-2-2h-10l-2 2h-7v4h28v-4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="modal input-modal active" [ngClass]="{'active': currentModal != storeModal}">
  <div class="box">
    <div class="input-heading">{{modalMode}} Stores</div>
    <form [formGroup]="storeForm" class="">
      <div class="heading-error">{{errorMessage}}</div>
      <div class="input">
        <div class="label">Store Name:</div>
        <input formControlName="storeName" id="storeName" placeholder="store Name " required/>
        <control-messages [control]="storeForm.controls.storeName"></control-messages>
      </div>
      <div class="input">
        <div class="label">Store State:</div>
        <input formControlName="storeState" id="storeState" placeholder="store State" required/>
        <control-messages [control]="storeForm.controls.storeState"></control-messages>
      </div>
      <div class="input">
        <div class="label">Latitude:</div>
        <input type="number" formControlName="latitude" id="latitude" placeholder="Latitude" required/>
        <control-messages [control]="storeForm.controls.latitude"></control-messages>
      </div>
      <div class="input">
        <div class="label">Longitude:</div>
        <input type="number" formControlName="longitude" id="longitude" placeholder="Longitude" required/>
        <control-messages [control]="storeForm.controls.longitude"></control-messages>
      </div>
      <div (click)="addOREditStore()" class="input btn">
        {{modalMode}}
      </div>
    </form>
  </div>
  <div class="close" (click)="closeModal()">
    <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;height: 25px;width: 25px;" version="1.1" viewBox="0 0 512 512"
      width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path>
      </svg>
  </div>
</div> -->