<div class="zeepzoop">
    <div class="box">
        <div class="logo">
            <div class="icon">
                <img src="/assets/images/app_icon/40X40.png">
            </div>
        </div>
        <div class="box-body">
            <div class="heading">
                <p>Sign-in to continue</p>
            </div>            
        </div>
        <form [formGroup]="loginForm" class="form login" *ngIf="loginFormActive">
            <div class="heading-error">{{errorMessage}}</div>
            <div class="input">
                <input formControlName="email" id="email" placeholder="E-mail" />
                <control-messages [control]="loginForm.controls.email" class="controlMessage"></control-messages>
                <div class="icon">
                    <svg enable-background="new 0 0 56 40" height="40px" id="Layer_1" version="1.1" viewBox="0 0 56 40" width="56px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M31.462,21.584C30.271,22.497,28.688,23,27.003,23s-3.27-0.502-4.462-1.416L0,4.312V37c0,1.656,1.343,3,3,3   h50c1.657,0,3-1.344,3-3V3c0-0.07-0.016-0.135-0.021-0.203L31.462,21.584z" fill="#231F20"></path><path d="M28.21,19.091l24.899-19.08C53.072,0.01,53.037,0,53,0H3C2.432,0,1.907,0.167,1.454,0.441l24.339,18.65   C26.439,19.585,27.563,19.587,28.21,19.091z" fill="#231F20"></path></g></svg>
                </div>
            </div>
            <div class="input">
                <input type="password" formControlName="password" id="password" placeholder="Password" />
                <control-messages [control]="loginForm.controls.password" class="controlMessage"></control-messages>
                <div class="icon">
                    <svg enable-background="new 0 0 46 55" height="55px" id="Layer_1" version="1.1" viewBox="0 0 46 55" width="46px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M41.029,19H37V8c0-4.411-3.589-8-8-8H17c-4.411,0-8,3.589-8,8v11H4.971C2.226,19,0,21.226,0,23.971v26.059  C0,52.774,2.226,55,4.971,55h36.059C43.774,55,46,52.774,46,50.029V23.971C46,21.226,43.774,19,41.029,19z M15,8  c0-1.103,0.897-2,2-2h12c1.104,0,2,0.897,2,2v11H15V8z" fill="#231F20"/></svg>
                </div>
            </div>
            <div class="input clearfix">
                <div class="left">
                    <label for="cbx" class="label-cbx">
                        <input id="cbx" type="checkbox" class="invisible">
                        <div class="checkbox">
                            <svg width="20px" height="20px" viewBox="0 0 20 20">
                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                            <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Remember Me</span>
                    </label>
                </div>
                <div class="right">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
            <div (click)="login()" class="input">
                <input type="submit" value="Login" class="btn">
            </div>
            <a class="btn admin-signup" (click)="changeForm()">Sign up as admin</a>
        </form>

        <form [formGroup]="signupForm" class="login" *ngIf="!loginFormActive">
            <div class="box-body">
                <div class="heading">
                    <p>Sign Up To Contiue.</p>
                </div>
            </div>
            <div class="heading-error">{{errorMessage}}</div>
            <div class="input">
                <input formControlName="email" id="email" placeholder="E-mail" />
                <control-messages [control]="signupForm.controls.email"></control-messages>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="mail" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,12H16C9.373,12,4,17.373,4,24v48c0,6.627,5.373,12,12,12h64c6.627,0,12-5.373,12-12V24C92,17.373,86.627,12,80,12z   M80,20c0.459,0,0.893,0.093,1.303,0.235L48,46.877L14.697,20.235C15.108,20.093,15.541,20,16,20H80z M80,76H16c-2.21,0-4-1.79-4-4  V28.323l33.501,26.8C46.231,55.708,47.116,56,48,56s1.769-0.292,2.499-0.877L84,28.323V72C84,74.21,82.21,76,80,76z"
                        />
                    </svg>
                </div>
            </div>
            <div class="input">
                <input type="password" formControlName="password" id="password" placeholder="Password" minlength="8" />
                <control-messages [control]="signupForm.controls.password"></control-messages>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="unlock" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,44h-8V28C72,14.745,61.255,4,48,4S24,14.745,24,28v8h8v-8c0-8.836,7.164-16,16-16s16,7.164,16,16v16H32h-8h-8  C9.37,44,4,49.37,4,56v24c0,6.63,5.37,12,12,12h64c6.63,0,12-5.37,12-12V56C92,49.37,86.63,44,80,44z M84,80c0,2.21-1.79,4-4,4H16  c-2.21,0-4-1.79-4-4V56c0-2.21,1.79-4,4-4h64c2.21,0,4,1.79,4,4V80z"
                        />
                    </svg>
                </div>
            </div>
            <div class="input">
                <input type="text" formControlName="adminKey" id="adminKey" placeholder="Admin key" />
                <control-messages [control]="signupForm.controls.adminKey"></control-messages>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="unlock" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,44h-8V28C72,14.745,61.255,4,48,4S24,14.745,24,28v8h8v-8c0-8.836,7.164-16,16-16s16,7.164,16,16v16H32h-8h-8  C9.37,44,4,49.37,4,56v24c0,6.63,5.37,12,12,12h64c6.63,0,12-5.37,12-12V56C92,49.37,86.63,44,80,44z M84,80c0,2.21-1.79,4-4,4H16  c-2.21,0-4-1.79-4-4V56c0-2.21,1.79-4,4-4h64c2.21,0,4,1.79,4,4V80z"
                        />
                    </svg>
                </div>
            </div>
            <!-- <div class="input clearfix">
                    <div class="left">
                        <input type="checkbox" id="remember_me" name="cc" />
                        <label for="remember_me">
                            <span></span>Remember Me
                        </label>
                    </div>
                    <div class="right">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div> -->
            <div (click)="signup()" class="input">
                <input type="submit" value="Sign Up" class="btn">
            </div>
            <a class="btn" (click)="changeForm()">Login as admin</a>
        </form>
    </div>
</div>
