<div class="zeepzoop">
    <div class="box">
        <div class="logo">
            <div class="icon">
                <img src="/assets/images/app_icon/40X40.png">
            </div>
        </div>
        <div class="box-body">
            <div class="heading">
                <p>{{formName}}  to continue</p>
            </div>            
        </div>
        <form [formGroup]="loginForm" class="form login" *ngIf="loginFormActive">
            <div class="heading-error">{{errorMessage}}</div>
            <div class="input">
                <input formControlName="email" id="email" placeholder="E-mail" />
                <control-messages [control]="loginForm.controls.email" class="controlMessage"></control-messages>
                <div class="icon">
                    <svg enable-background="new 0 0 56 40" height="40px" id="Layer_1" version="1.1" viewBox="0 0 56 40" width="56px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M31.462,21.584C30.271,22.497,28.688,23,27.003,23s-3.27-0.502-4.462-1.416L0,4.312V37c0,1.656,1.343,3,3,3   h50c1.657,0,3-1.344,3-3V3c0-0.07-0.016-0.135-0.021-0.203L31.462,21.584z" fill="#231F20"></path><path d="M28.21,19.091l24.899-19.08C53.072,0.01,53.037,0,53,0H3C2.432,0,1.907,0.167,1.454,0.441l24.339,18.65   C26.439,19.585,27.563,19.587,28.21,19.091z" fill="#231F20"></path></g></svg>
                </div>
            </div>
            <div class="input">
                <input type="password" formControlName="password" id="password" placeholder="Password" />
                <control-messages [control]="loginForm.controls.password" class="controlMessage"></control-messages>
                <div class="icon">
                    <svg enable-background="new 0 0 46 55" height="55px" id="Layer_1" version="1.1" viewBox="0 0 46 55" width="46px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M41.029,19H37V8c0-4.411-3.589-8-8-8H17c-4.411,0-8,3.589-8,8v11H4.971C2.226,19,0,21.226,0,23.971v26.059  C0,52.774,2.226,55,4.971,55h36.059C43.774,55,46,52.774,46,50.029V23.971C46,21.226,43.774,19,41.029,19z M15,8  c0-1.103,0.897-2,2-2h12c1.104,0,2,0.897,2,2v11H15V8z" fill="#231F20"/></svg>
                </div>
            </div>
            <div class="input clearfix">
                <div class="left">
                    <label for="cbx" class="label-cbx">
                        <input id="cbx" type="checkbox" class="invisible">
                        <div class="checkbox">
                            <svg width="20px" height="20px" viewBox="0 0 20 20">
                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                            <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Remember Me</span>
                    </label>
                </div>
                <div class="right">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
            <div (click)="login()" class="input">
                <input type="submit" value="Login" class="btn">
            </div>
            <a class="btn admin-signup" (click)="changeForm()">Sign up as admin</a>
        </form>

        <form [formGroup]="signupForm" class="form login" *ngIf="!loginFormActive">
            <div class="heading-error">{{errorMessage}}</div>
            <div class="input">
                <input formControlName="email" id="email" placeholder="E-mail" />
                <control-messages [control]="signupForm.controls.email" class="controlMessage"></control-messages>
                <div class="icon">
                    <svg enable-background="new 0 0 56 40" height="40px" id="Layer_1" version="1.1" viewBox="0 0 56 40" width="56px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M31.462,21.584C30.271,22.497,28.688,23,27.003,23s-3.27-0.502-4.462-1.416L0,4.312V37c0,1.656,1.343,3,3,3   h50c1.657,0,3-1.344,3-3V3c0-0.07-0.016-0.135-0.021-0.203L31.462,21.584z" fill="#231F20"></path><path d="M28.21,19.091l24.899-19.08C53.072,0.01,53.037,0,53,0H3C2.432,0,1.907,0.167,1.454,0.441l24.339,18.65   C26.439,19.585,27.563,19.587,28.21,19.091z" fill="#231F20"></path></g></svg>
                </div>
            </div>
            <div class="input">
                <input type="password" formControlName="password" id="password" placeholder="Password" minlength="8" />
                <control-messages [control]="signupForm.controls.password" class="controlMessage"></control-messages>
                <div class="icon">
                    <svg enable-background="new 0 0 46 55" height="55px" id="Layer_1" version="1.1" viewBox="0 0 46 55" width="46px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M41.029,19H37V8c0-4.411-3.589-8-8-8H17c-4.411,0-8,3.589-8,8v11H4.971C2.226,19,0,21.226,0,23.971v26.059  C0,52.774,2.226,55,4.971,55h36.059C43.774,55,46,52.774,46,50.029V23.971C46,21.226,43.774,19,41.029,19z M15,8  c0-1.103,0.897-2,2-2h12c1.104,0,2,0.897,2,2v11H15V8z" fill="#231F20"/></svg>
                </div>
            </div>
            <div class="input">
                <input type="text" formControlName="adminKey" id="adminKey" placeholder="Admin key" />
                <control-messages [control]="signupForm.controls.adminKey" class="controlMessage"></control-messages>
                <div class="icon">
                    <svg enable-background="new 0 0 44 43" height="43px" id="Layer_1" version="1.1" viewBox="0 0 44 43" width="44px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M30.256,21.173c1.835-5.235,1.049-12.14-3.431-16.62C20.771-1.5,10.984-1.527,4.932,4.526  c-6.054,6.053-6.094,15.908-0.041,21.961c4.615,4.615,11.168,5.945,17.026,3.318l2.902,2.902l0.109,0.109l4.084-0.714l-0.018,4.271  l4.244,0.008l-0.532,4.213l2.111,2.111c0.006,0.006,0.006,0.006,0.01,0.01l0.157-0.156c0.741,0.673,0.504,0.366,0.615,0.366  l7.272,0.22c0.6,0,1.126-0.443,1.127-1.044l-0.283-7.333c0-0.112,0.327,0.146-0.346-0.596l-0.058,0.059  c-0.003-0.004-0.003-0.003-0.006-0.007L30.256,21.173z M13.483,13.702c-1.563,1.563-4.095,1.563-5.657,0s-1.563-4.094,0-5.657  c1.563-1.563,4.095-1.563,5.657,0S15.046,12.14,13.483,13.702z" fill="#231F20"/></svg>
                </div>
            </div>
            <div class="input clearfix">
                <div class="left">
                    <label for="cbx" class="label-cbx">
                        <input id="cbx" type="checkbox" class="invisible">
                        <div class="checkbox">
                            <svg width="20px" height="20px" viewBox="0 0 20 20">
                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                            <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Remember Me</span>
                    </label>
                </div>
                <div class="right">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
            <div (click)="signup()" class="input">
                <input type="submit" value="Sign Up" class="btn">
            </div>
            <a class="btn" (click)="changeForm()">Login as admin</a>
        </form>
    </div>
</div>
