
<!-- <div class="header">
    <div class="menu-bar clearfix">
            <div class="logo">                    
                <img src="images/app icon/40x40.png"> 
                <span>ZeepZop</span>    
            </div>
            <div class="right">
                <ul class="left">
                    <li class="menu-icon">
                        <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>                                   
                        
                    </li>
                    <li class="menu-icon">
                        <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>                                   
                        
                    </li>
                    <li class="menu-icon">
                            <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                            />
                        </svg>          
                    </li>
                    
                </ul>
                <ul class="right">
                    <button class="login-button">Login</button>
                    <li class="menu-icon">
                            <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                            />
                        </svg>                                   
                            
                        </li>
                    <li class="menu-icon">
                        <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>                                   
                        
                    </li>
                    <li class="menu-icon">
                            <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                            />
                        </svg>          
                    </li>
                    <li class="menu-icon" >
                            <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                            />
                        </svg>         
                    </li>
                </ul>
            </div>           

    </div>
</div>
<div class="nav-bar">
    <div class="profile">
        <div class="profile-pic">
            <div class="icon">
            <img src="images/app icon/58x58.png">
            <div class="cricle"></div>   
            </div>
        </div>
        <div class="information">
            <h2>welcome john</h2>
            <span>programmer</span>
        </div>
    </div>
    <div class="nav-menu">
        <div class="title">
            <h2>Main Navigation</h2>
        </div>
        <ul>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Home</p>
                </div>
            </li>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Dashboard</p>
                </div>
                <div class="sub-menu">
                        <span class="sub-menu-text">Login</span>
                        <span class="sub-menu-text">Register</span>
                        <span class="sub-menu-text">Recvore</span>
                    </div>
            </li>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Wedgets</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="nav-menu">
        <div class="title">
            <h2>Components</h2>
        </div>
        <ul>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Elements</p>
                </div>
                <div class="sub-menu">
                    <span class="sub-menu-text">Buttons</span>
                    <span class="sub-menu-text">Interaction</span>
                    <span class="sub-menu-text">Notification</span>
                    <span class="sub-menu-text">SweetAlert</span>
                    <span class="sub-menu-text">Spinners</span>
                    <span class="sub-menu-text">Nav Tree</span>
                    <span class="sub-menu-text">Sortable</span>
                    <span class="sub-menu-text">Grid</span>
                    <span class="sub-menu-text">Grid Mansonry</span>
                    <span class="sub-menu-text">Typography</span>
                    <span class="sub-menu-text">Font icons</span>
                    <span class="sub-menu-text">Weahter icons</span>
                    <span class="sub-menu-text">colors</span>
                    <span class="sub-menu-text">infinite Scroll</span>
                </div>
            </li>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Forms</p>
                </div>
                <div class="sub-menu">
                    <span class="sub-menu-text">Standard</span>
                    <span class="sub-menu-text">Extended</span>
                    <span class="sub-menu-text">Validation</span>
                    <span class="sub-menu-text">Upload</span>
                    <span class="sub-menu-text">Image Crop</span>
                </div>
            </li>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Charts</p>
                </div>
                <div class="sub-menu">
                    <span class="sub-menu-text">Flot</span>
                    <span class="sub-menu-text">Radial</span>
                    <span class="sub-menu-text">ChartJS</span>

                </div>
            </li>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Tables</p>
                </div>
                <div class="sub-menu">
                    <span class="sub-menu-text">Standard</span>
                    <span class="sub-menu-text">Extended</span>
                    <span class="sub-menu-text">Data-Table</span>
                    <span class="sub-menu-text">Angular</span>

                </div>
            </li>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>maps</p>
                </div>
                <div class="sub-menu">
                    <span class="sub-menu-text">Google</span>
                    <span class="sub-menu-text">Vector</span>


                </div>
            </li>
            <li>

        </ul>

    </div>
    <div class="nav-menu">
        <div class="title">
            <h2 class="active">More</h2>
        </div>
        <ul>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Pages</p>
                </div>
                <div class="sub-menu">
                    <span class="sub-menu-text">Login</span>
                    <span class="sub-menu-text">Register</span>
                    <span class="sub-menu-text">Recvore</span>
                    <span class="sub-menu-text">Lock</span>
                    <span class="sub-menu-text">404</span>
                    <span class="sub-menu-text">500</span>
                    <span class="sub-menu-text">Maintenance</span>
                </div>
            </li>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Blog</p>
                </div>
            </li>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Ecommerce</p>
                </div>
            </li>
            <li>
                <div class="icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </div>
                <div class="text">
                    <p>Extras</p>
                </div>
            </li>

        </ul>

    </div>
</div>
<div class="right">
    <header>
        <ul class="navigation">
            <li><a [routerLink] = "['/my-component']">Component</a></li>
            <li><a [routerLink] = "['/secont-component']">Second Compornet</a></li>
            <li><a [routerLink] = "['/use-service']">using service component</a></li>
        </ul>
    </header>
    
    <app-login></app-login> 
    
    <h1>{{value}}</h1>
        <ul>  
        <li *ngFor="let res of result">
            {{res.name}}
        </li>   
    </ul> 
    <ul>
        <li *ngFor="let apiarrData of apiarr">
            {{apiarrData.data.title}}
        </li>
    </ul>
    
    <button (click)="auth($event)">Click</button>
    
</div> -->          
<router-outlet></router-outlet>
