<div class="zeepzoop">
    <div class="left-side-bar">
        <div class="profile-block">
            <div class="profile-image"> 
                <img src="./../../../../assets/images/profile.jpg">
            </div>
            <div class="information">
                <h2>Welcome Mira</h2>
                <span>Programmer</span>
            </div>
        </div>
        <div class="nav-menu">
            <div class="title">
                <h2>Main Navigation</h2>
            </div>
            <ul>
                <li  [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
                    <div class="icon">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"/><path d="M6 26h16v-20h-16v20zm0 16h16v-12h-16v12zm20 0h16v-20h-16v20zm0-36v12h16v-12h-16z"/></svg>
                    </div>
                    <div class="text">
                        <p>Dashboard</p>
                    </div>
                </li>
                <li [routerLink]="['/stores']" [routerLinkActive]="['active']">
                    <div class="icon">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"/><path d="M40 8h-32v4h32v-4zm2 20v-4l-2-10h-32l-2 10v4h2v12h20v-12h8v12h4v-12h2zm-18 8h-12v-8h12v8z"/></svg>
                    </div>
                    <div class="text">
                        <p>Stores</p>
                    </div>
                </li>
                <li [routerLink]="['/collections']" [routerLinkActive]="['active']">
                    <div class="icon">
                            <svg height="24px" version="1.1" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title></title><desc></desc><defs></defs><g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1"><g id="Artboard-1" transform="translate(-683.000000, -227.000000)"><g id="slice" transform="translate(215.000000, 119.000000)"></g><path d="M686.206336,233 C686.09238,233 686,233.073633 686,233.165891 L686,247.834109 C686,247.925728 686.091899,248 686.206336,248 L700.793664,248 C700.90762,248 701,247.926367 701,247.834109 L701,233.165891 C701,233.074272 700.908101,233 700.793664,233 L686.206336,233 L686.206336,233 Z M690,232 L702,232 L702,244 L705,244 L705,229 L690,229 L690,232 Z" fill="#000000" id="editor-copy-2-duplicate-glyph"></path></g></g></svg>
                    </div>
                    <div class="text">
                        <p>Collections</p>
                    </div>
                </li>
                <li [routerLink]="['/blogs']" [routerLinkActive]="['active']">
                    <div class="icon">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"/><path d="M36 4h-24c-2.21 0-4 1.79-4 4v32c0 2.21 1.79 4 4 4h24c2.21 0 4-1.79 4-4v-32c0-2.21-1.79-4-4-4zm-24 4h10v16l-5-3-5 3v-16z"/></svg>
                    </div>
                    <div class="text">
                        <p>Blogs</p>
                    </div>
                </li>
                <li [routerLink]="['/report-reviews']" [routerLinkActive]="['active']">
                    <div class="icon">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M14 30v4h20v-4h-20zm-8 12h36v-4h-36v4zm0-16h36v-4h-36v4zm8-12v4h20v-4h-20zm-8-8v4h36v-4h-36z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                    <div class="text">
                        <p>Report Review</p>
                    </div>
                </li>
                <li [routerLink]="['/cities']" [routerLinkActive]="['active']">
                    <div class="icon">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"/><path d="M24 14v-8h-20v36h40v-28h-20zm-12 24h-4v-4h4v4zm0-8h-4v-4h4v4zm0-8h-4v-4h4v4zm0-8h-4v-4h4v4zm8 24h-4v-4h4v4zm0-8h-4v-4h4v4zm0-8h-4v-4h4v4zm0-8h-4v-4h4v4zm20 24h-16v-4h4v-4h-4v-4h4v-4h-4v-4h16v20zm-4-16h-4v4h4v-4zm0 8h-4v4h4v-4z"/></svg>
                    </div>
                    <div class="text">
                        <p>Cities</p>
                    </div>
                </li>
                <li [routerLink]="['/categories']" [routerLinkActive]="['active']">
                    <div class="icon">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"/><path d="M20 24c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm-8-8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 16c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm24-16c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-8 16c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8-8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm-8-8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm-8-8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z"/></svg>
                    </div>
                    <div class="text">
                        <p>Categories</p>
                    </div>
                </li>
                <li [routerLink]="['/keywords']" [routerLinkActive]="['active']">
                    <div class="icon">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"/><path d="M38 6h-8.37c-.82-2.32-3.02-4-5.63-4s-4.81 1.68-5.63 4h-8.37c-2.21 0-4 1.79-4 4v28c0 2.21 1.79 4 4 4h28c2.21 0 4-1.79 4-4v-28c0-2.21-1.79-4-4-4zm-14 0c1.1 0 2 .89 2 2s-.9 2-2 2-2-.89-2-2 .9-2 2-2zm-4 28l-8-8 2.83-2.83 5.17 5.17 13.17-13.17 2.83 2.83-16 16z"/></svg>
                    </div>
                    <div class="text">
                        <p>Keyword</p>
                    </div>
                </li>
                <li [routerLink]="['/static-pages']" [routerLinkActive]="['active']">
                    <div class="icon">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M30 42h4v-4h-4v4zm8 0h4v-4h-4v4zm-24 0h4v-4h-4v4zm8 0h4v-4h-4v4zm16-8h4v-4h-4v4zm0-8h4v-4h-4v4zm-32-20v36h4v-32h32v-4h-36zm32 12h4v-4h-4v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                    <div class="text">
                        <p>Static pages</p>
                    </div>
                </li>
                <li [routerLink]="['/adminKey']" [routerLinkActive]="['active']">
                    <div class="icon">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48H0z" fill="none"/><path d="M40 8H8c-2.21 0-4 1.79-4 4v24c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zM8 24h8v4H8v-4zm20 12H8v-4h20v4zm12 0h-8v-4h8v4zm0-8H20v-4h20v4z"/></svg>
                    </div>
                    <div class="text">
                        <p>admin Key</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>