/* You can add global styles to this file, and also import other style files */
/*varible*/
$brand_color: #9a162d;


/*fonts*/
@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaPro-BlackItalic.eot') format('embedded-opentype'), url('fonts/SofiaPro-BlackItalic.woff') format('woff'), url('fonts/SofiaPro-BlackItalic.ttf') format('truetype'), url('fonts/SofiaPro-BlackItalic.svg') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaPro-Black.eot') format('embedded-opentype'), url('fonts/SofiaPro-Black.woff') format('woff'), url('fonts/SofiaPro-Black.ttf') format('truetype'), url('fonts/SofiaPro-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaPro-BoldItalic.eot') format('embedded-opentype'), url('fonts/SofiaPro-BoldItalic.woff') format('woff'), url('fonts/SofiaPro-BoldItalic.ttf') format('truetype'), url('fonts/SofiaPro-BoldItalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaPro-Bold.eot') format('embedded-opentype'), url('fonts/SofiaPro-Bold.woff') format('woff'), url('fonts/SofiaPro-Bold.ttf') format('truetype'), url('fonts/SofiaPro-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaPro-MediumItalic.eot') format('embedded-opentype'), url('fonts/SofiaPro-MediumItalic.woff') format('woff'), url('fonts/SofiaPro-MediumItalic.ttf') format('truetype'), url('fonts/SofiaPro-MediumItalic.svg') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaProRegular.eot') format('embedded-opentype'), url('fonts/SofiaProRegular.woff') format('woff'), url('fonts/SofiaProRegular.ttf') format('truetype'), url('fonts/SofiaProRegular.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaProExtraLight-Italic.eot') format('embedded-opentype'), url('fonts/SofiaProExtraLight-Italic.woff') format('woff'), url('fonts/SofiaProExtraLight-Italic.ttf') format('truetype'), url('fonts/SofiaProExtraLight-Italic.svg') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaPro-ExtraLight.eot') format('embedded-opentype'), url('fonts/SofiaPro-ExtraLight.woff') format('woff'), url('fonts/SofiaPro-ExtraLight.ttf') format('truetype'), url('fonts/SofiaPro-ExtraLight.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,                    
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,          
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
}


img{
    max-width: 100%;
    height: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    &.modal-active{
        overflow: hidden;
    }
}
a{
    text-decoration: none;
    color: initial;
    &:hover{    
        color: $brand_color;
    }
}
.btn{
    margin: 0px auto;
    background: #FFF;
    font-size: 12px;
    color: #979797;
    display: inline-block;
    border: 1px solid #979797;
    cursor: pointer;
    border-radius: 4px;
}
.btn{
    &:hover{
        cursor: pointer;
    }
}
button{
    &:hover{
        cursor: pointer;
    }
}
ul.result{
    position: absolute;
    left: 0px;
    background: #ffffff;
    display: block;
    width: 100%;
    border: 1px solid #cacaca;
    z-index: 10;
    max-height: 0px;
    display: none;
    li{
        padding: 5px 10px;
        
        &:hover{
            background: $brand_color;
            color: white;
            cursor: pointer;
        }
    }
    &.active{
        display: block;
        overflow: auto;
        max-height: 250px;
    }
}
ul.selected{
    margin: 10px 0px 5px;
    li{
        padding: 5px 10px;
        display: inline-block;
        border: 1px solid $brand_color;
        background: $brand_color;
        color: #fff;
        margin-right: 10px;
        margin-bottom: 5px;
        border-radius: 3px;
        font-size: 15px;
        .remove{
            color:#fff;
            margin-left: 5px;
            &:hover{
                cursor: pointer;
                color: $brand_color;
            }
        }
    }
}
.table-box {
    width: 100%;
    border-bottom: 1px solid #d6d4d4;
    background-color: #eef3f7;
    padding: 20px;
    .mini-box {
        padding-left: 20px;
        max-width: 100%;
        .text {
            display: block;
            h2 {
                font-size: 24px;
                line-height: 1.1;
                color: #929292;
                font-weight: 500;
            }
        }
        span {
            display: block;
            font-size: 12px;
            color: #909fa7;
            font-family: inherit;
        }
    }
}

/*blog view*/
.blogview{
	background-color: #f9fbfc;
	.container{
		max-width: 1040px;
		margin: 0px auto;
		display: block;
		padding: 0px 30px;
	}
	article{
		padding-bottom: 70px;			
		transform: translateY(-215px);
		.img{
			max-height: 430px;
		    overflow: hidden;
		    
		}	
		.text{
		}
		.catanddate{
			padding: 40px 0px;
			text-align: center;
			p{
				color: #f26522;
				font-family: 'Lato-Black';
				font-size: 12px;
				line-height: 18px;
				letter-spacing: 0.059em;
				display: inline-block;
				text-transform: uppercase;
			}
			.date{
				color: #aaabab;
				&:before{
					content: '';
					background-color: rgba(170,171,171,0.5);
					width: 5px;
					height: 5px;
					border-radius: 100%;
					display: inline-block;
					margin-top: 5px;
					vertical-align: top;
					margin-left: 15px;
					margin-right: 15px;
				}
			}
		}	
		.social{
			border-bottom:0px;
		}		
		h1{
			font-family: 'Lato-Black';
		    color: #414c58;
		    font-size: 36px;
		    letter-spacing: 0.08em;
		    line-height: 45px;
		    cursor: pointer;
		    text-align: center;
		    padding: 0px 100px;
		}
		p{
			font-family: 'Lato-Regular';
			color: #6d7783;
			font-size: 14px;
			letter-spacing: 0.050em;
			line-height:20px;
			display: inline-block;
		} 	
		
	}
}

$brand_color: #9a162d;
$normal_color: #969696;
$padding_bottom_heading: 5px;

.quill-editor{
  h1{
      font-size: 30px;
      color: $brand_color;
      line-height: 1.3;
      padding-bottom: $padding_bottom_heading !important;
      font-weight: bold;
  }
  h2{
      font-size: 24px;
      color: $brand_color;
      line-height: 1.3;
      padding-bottom: $padding_bottom_heading !important;
      font-weight: bold;
  }
  h3{
      font-size: 20px;
      color: $brand_color;
      line-height: 1.3;
      padding-bottom: $padding_bottom_heading !important;
      font-weight: bold;
  }
  h4{
    font-size: 16px;
    color: $brand_color;
    line-height: 1.3;
    padding-bottom: $padding_bottom_heading !important;
    font-weight: bold;
  }
  h5{
    font-size: 13px;
    color: $brand_color;
    line-height: 1.3;
    font-weight: bold;
    padding-bottom: $padding_bottom_heading !important;
  }
  h6{
    font-size: 10px;
    color: $brand_color;
    font-weight: bold;
    line-height: 1.3;
    padding-bottom: $padding_bottom_heading !important;
  }
  p{
      font-size: 16px;
      line-height: 1.4;
      color: $normal_color;
      padding-bottom: 20px !important;
      font-weight: normal;
      letter-spacing: 0.04em;
  }
  strong{
      font-size: 16px;
      line-height: 1.4;
      color: $normal_color;
      font-weight: 600;
  }
  a{
      font-size: 16px;
      line-height: 1.4;
      color: black !important;
      font-weight: normal;
      cursor: pointer;
      text-decoration: underline !important;
      font-weight: 600;
      vertical-align: initial;
      &:hover{
          color: $brand_color !important;   
      }  
       
  }
  blockquote{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px !important;
    border-left: 0px !important;
    padding: 0px 5% !important;
    color: $brand_color;
    position: relative;
    &:before{
      content: url('assets/images/blockquote.png');
      padding-right: 10px;
    }
  }        
  em{
      font-style: italic;
  }
  img{
      max-width: 100%;
      height: auto;
  }
  ul, ol{
      padding-left: 15px !important;
      padding-bottom: 20px !important;
      li{
          font-size: 16px;                
          line-height: 1.4;
          color: $normal_color;
          font-weight: normal;
          &:before{
              text-align: center  !important;
          }
      }
  }
}


// .quill-editor{
//     .ql-editor {
//         box-sizing: border-box;
//         line-height: 1.42;
//         height: 100%;
//         outline: none;
//         overflow-y: auto;
//         padding: 12px 15px;
//         tab-size: 4;
//         -moz-tab-size: 4;
//         text-align: left;
//         white-space: pre-wrap;
//         word-wrap: break-word;
//         font-weight: normal;
//       }
//       .ql-editor > * {
//         cursor: text;
//       }
//       .ql-editor p,
//       .ql-editor ol,
//       .ql-editor ul,
//       .ql-editor pre,
//       .ql-editor blockquote,
//       .ql-editor h1,
//       .ql-editor h2,
//       .ql-editor h3,
//       .ql-editor h4,
//       .ql-editor h5,
//       .ql-editor h6 {
//         margin: 0;
//         padding: 0;
//         counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
//       }
//       .ql-editor ol,
//       .ql-editor ul {
//         padding-left: 1.5em;
//       }
//       .ql-editor ol > li,
//       .ql-editor ul > li {
//         list-style-type: none;
//       }
//       .ql-editor ul > li::before {
//         content: '\2022';
//       }
//       .ql-editor ul[data-checked=true],
//       .ql-editor ul[data-checked=false] {
//         pointer-events: none;
//       }
//       .ql-editor ul[data-checked=true] > li *,
//       .ql-editor ul[data-checked=false] > li * {
//         pointer-events: all;
//       }
//       .ql-editor ul[data-checked=true] > li::before,
//       .ql-editor ul[data-checked=false] > li::before {
//         color: #777;
//         cursor: pointer;
//         pointer-events: all;
//       }
//       .ql-editor ul[data-checked=true] > li::before {
//         content: '\2611';
//       }
//       .ql-editor ul[data-checked=false] > li::before {
//         content: '\2610';
//       }
//       .ql-editor li::before {
//         display: inline-block;
//         white-space: nowrap;
//         width: 1.2em;
//       }
//       .ql-editor li:not(.ql-direction-rtl)::before {
//         margin-left: -1.5em;
//         margin-right: 0.3em;
//         text-align: right;
//       }
//       .ql-editor li.ql-direction-rtl::before {
//         margin-left: 0.3em;
//         margin-right: -1.5em;
//       }
//       .ql-editor ol li:not(.ql-direction-rtl),
//       .ql-editor ul li:not(.ql-direction-rtl) {
//         padding-left: 1.5em;
//       }
//       .ql-editor ol li.ql-direction-rtl,
//       .ql-editor ul li.ql-direction-rtl {
//         padding-right: 1.5em;
//       }
//       .ql-editor ol li {
//         counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
//         counter-increment: list-0;
//       }
//       .ql-editor ol li:before {
//         content: counter(list-0, decimal) '. ';
//       }
//       .ql-editor ol li.ql-indent-1 {
//         counter-increment: list-1;
//       }
//       .ql-editor ol li.ql-indent-1:before {
//         content: counter(list-1, lower-alpha) '. ';
//       }
//       .ql-editor ol li.ql-indent-1 {
//         counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
//       }
//       .ql-editor ol li.ql-indent-2 {
//         counter-increment: list-2;
//       }
//       .ql-editor ol li.ql-indent-2:before {
//         content: counter(list-2, lower-roman) '. ';
//       }
//       .ql-editor ol li.ql-indent-2 {
//         counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
//       }
//       .ql-editor ol li.ql-indent-3 {
//         counter-increment: list-3;
//       }
//       .ql-editor ol li.ql-indent-3:before {
//         content: counter(list-3, decimal) '. ';
//       }
//       .ql-editor ol li.ql-indent-3 {
//         counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
//       }
//       .ql-editor ol li.ql-indent-4 {
//         counter-increment: list-4;
//       }
//       .ql-editor ol li.ql-indent-4:before {
//         content: counter(list-4, lower-alpha) '. ';
//       }
//       .ql-editor ol li.ql-indent-4 {
//         counter-reset: list-5 list-6 list-7 list-8 list-9;
//       }
//       .ql-editor ol li.ql-indent-5 {
//         counter-increment: list-5;
//       }
//       .ql-editor ol li.ql-indent-5:before {
//         content: counter(list-5, lower-roman) '. ';
//       }
//       .ql-editor ol li.ql-indent-5 {
//         counter-reset: list-6 list-7 list-8 list-9;
//       }
//       .ql-editor ol li.ql-indent-6 {
//         counter-increment: list-6;
//       }
//       .ql-editor ol li.ql-indent-6:before {
//         content: counter(list-6, decimal) '. ';
//       }
//       .ql-editor ol li.ql-indent-6 {
//         counter-reset: list-7 list-8 list-9;
//       }
//       .ql-editor ol li.ql-indent-7 {
//         counter-increment: list-7;
//       }
//       .ql-editor ol li.ql-indent-7:before {
//         content: counter(list-7, lower-alpha) '. ';
//       }
//       .ql-editor ol li.ql-indent-7 {
//         counter-reset: list-8 list-9;
//       }
//       .ql-editor ol li.ql-indent-8 {
//         counter-increment: list-8;
//       }
//       .ql-editor ol li.ql-indent-8:before {
//         content: counter(list-8, lower-roman) '. ';
//       }
//       .ql-editor ol li.ql-indent-8 {
//         counter-reset: list-9;
//       }
//       .ql-editor ol li.ql-indent-9 {
//         counter-increment: list-9;
//       }
//       .ql-editor ol li.ql-indent-9:before {
//         content: counter(list-9, decimal) '. ';
//       }
//       .ql-editor .ql-indent-1:not(.ql-direction-rtl) {
//         padding-left: 3em;
//       }
//       .ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
//         padding-left: 4.5em;
//       }
//       .ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
//         padding-right: 3em;
//       }
//       .ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
//         padding-right: 4.5em;
//       }
//       .ql-editor .ql-indent-2:not(.ql-direction-rtl) {
//         padding-left: 6em;
//       }
//       .ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
//         padding-left: 7.5em;
//       }
//       .ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
//         padding-right: 6em;
//       }
//       .ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
//         padding-right: 7.5em;
//       }
//       .ql-editor .ql-indent-3:not(.ql-direction-rtl) {
//         padding-left: 9em;
//       }
//       .ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
//         padding-left: 10.5em;
//       }
//       .ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
//         padding-right: 9em;
//       }
//       .ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
//         padding-right: 10.5em;
//       }
//       .ql-editor .ql-indent-4:not(.ql-direction-rtl) {
//         padding-left: 12em;
//       }
//       .ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
//         padding-left: 13.5em;
//       }
//       .ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
//         padding-right: 12em;
//       }
//       .ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
//         padding-right: 13.5em;
//       }
//       .ql-editor .ql-indent-5:not(.ql-direction-rtl) {
//         padding-left: 15em;
//       }
//       .ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
//         padding-left: 16.5em;
//       }
//       .ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
//         padding-right: 15em;
//       }
//       .ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
//         padding-right: 16.5em;
//       }
//       .ql-editor .ql-indent-6:not(.ql-direction-rtl) {
//         padding-left: 18em;
//       }
//       .ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
//         padding-left: 19.5em;
//       }
//       .ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
//         padding-right: 18em;
//       }
//       .ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
//         padding-right: 19.5em;
//       }
//       .ql-editor .ql-indent-7:not(.ql-direction-rtl) {
//         padding-left: 21em;
//       }
//       .ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
//         padding-left: 22.5em;
//       }
//       .ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
//         padding-right: 21em;
//       }
//       .ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
//         padding-right: 22.5em;
//       }
//       .ql-editor .ql-indent-8:not(.ql-direction-rtl) {
//         padding-left: 24em;
//       }
//       .ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
//         padding-left: 25.5em;
//       }
//       .ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
//         padding-right: 24em;
//       }
//       .ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
//         padding-right: 25.5em;
//       }
//       .ql-editor .ql-indent-9:not(.ql-direction-rtl) {
//         padding-left: 27em;
//       }
//       .ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
//         padding-left: 28.5em;
//       }
//       .ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
//         padding-right: 27em;
//       }
//       .ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
//         padding-right: 28.5em;
//       }
//       .ql-editor .ql-video {
//         display: block;
//         max-width: 100%;
//       }
//       .ql-editor .ql-video.ql-align-center {
//         margin: 0 auto;
//       }
//       .ql-editor .ql-video.ql-align-right {
//         margin: 0 0 0 auto;
//       }
//       .ql-editor .ql-bg-black {
//         background-color: #000;
//       }
//       .ql-editor .ql-bg-red {
//         background-color: #e60000;
//       }
//       .ql-editor .ql-bg-orange {
//         background-color: #f90;
//       }
//       .ql-editor .ql-bg-yellow {
//         background-color: #ff0;
//       }
//       .ql-editor .ql-bg-green {
//         background-color: #008a00;
//       }
//       .ql-editor .ql-bg-blue {
//         background-color: #06c;
//       }
//       .ql-editor .ql-bg-purple {
//         background-color: #93f;
//       }
//       .ql-editor .ql-color-white {
//         color: #fff;
//       }
//       .ql-editor .ql-color-red {
//         color: #e60000;
//       }
//       .ql-editor .ql-color-orange {
//         color: #f90;
//       }
//       .ql-editor .ql-color-yellow {
//         color: #ff0;
//       }
//       .ql-editor .ql-color-green {
//         color: #008a00;
//       }
//       .ql-editor .ql-color-blue {
//         color: #06c;
//       }
//       .ql-editor .ql-color-purple {
//         color: #93f;
//       }
//       .ql-editor .ql-font-serif {
//         font-family: Georgia, Times New Roman, serif;
//       }
//       .ql-editor .ql-font-monospace {
//         font-family: Monaco, Courier New, monospace;
//       }
//       .ql-editor .ql-size-small {
//         font-size: 0.75em;
//       }
//       .ql-editor .ql-size-large {
//         font-size: 1.5em;
//       }
//       .ql-editor .ql-size-huge {
//         font-size: 2.5em;
//       }
//       .ql-editor .ql-direction-rtl {
//         direction: rtl;
//         text-align: inherit;
//       }
//       .ql-editor .ql-align-center {
//         text-align: center;
//       }
//       .ql-editor .ql-align-justify {
//         text-align: justify;
//       }
//       .ql-editor .ql-align-right {
//         text-align: right;
//       }
//       .ql-editor.ql-blank::before {
//         color: rgba(0,0,0,0.6);
//         content: attr(data-placeholder);
//         font-style: italic;
//         left: 15px;
//         pointer-events: none;
//         position: absolute;
//         right: 15px;
//       }
// }

/*varible*/
$brand_color: #9a162d;

// @font-face {
//     font-family: 'Lineto Brown';
//     src: url('../fonts/lineto-brown/lineto-brown-bold.eot') format('embedded-opentype'), url('../fonts/lineto-brown/lineto-brown-bold.woff') format('woff'), url('../fonts/lineto-brown/lineto-brown-bold.ttf') format('truetype'), url('../fonts/lineto-brown/lineto-brown-bold.svg') format('svg');
//     font-weight: bold;
//     font-style: normal;
// }
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: top;}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}
body {
    font-family: 'Quicksand', sans-serif;
}
* {
    box-sizing: border-box;
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
button{
    background: #e4e4e4;
    border: 1px solid #fff;
    padding: 8px 20px;
    color: #888888;
    border-radius: 5px;
    &:hover{
        background: $brand_color;
        cursor: pointer;
        color:#fff;
    }
}

.zeepzoop{
    .btn{
        background: #e4e4e4;
        border: 1px solid #fff;
        padding: 8px 20px;
        color: #888888;
        border-radius: 5px;
        &:hover{
            background: $brand_color;
            cursor: pointer;
            color:#fff;
        }
    }
    .top-nav-bar{    
        background-color: $brand_color;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        -webkit-box-shadow: 0px 3px 35px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 35px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 3px 35px -10px rgba(0,0,0,0.75);
        .left{
            float: left;
            width: 200px;
        }
        .right{
            float: right;
            width: calc(100% - 200px);
            .login-icon{
                height: 50px;
                width: 50px;
                float: right;
                &:hover{
                    cursor: pointer;
                    background: #851025;
                }
                svg{
                    height: 24px;
                    width: 24px;
                    margin: 13px;
                    g{
                        g{
                            path{
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
        .logo{
            text-align: center;
            margin:5px;
            img{
                margin-right: 10px;
            }
            .logo-text{
                font-family: 'Berkshire Swash', cursive;
                font-size: 20px;
                color: #fff;
                line-height: 40px;
                display: inline-block;
            }
        }
    }
    .dropdown{
        width: 130px;
        background: #9a162d;
        color: #fff;
        font-size: 16px;
        float: right;
        .dropdown-title{
            height: 50px;
            padding: 15px 30px;
            position: relative;
            font-size: 17px;
            &:hover{
                cursor: pointer;
                background: #851025;
            }
            &::after{
                content: " ";
                height: 10px;
                width: 10px;
                border: 3px solid #fff;
                display: block;
                position: absolute;
                top: 14px;
                right: 17px;
                transform: rotate(45deg);
                border-radius: 3px;
                border-top: none;
                border-left: none;
            }
        }
        ul{
            display: none;
            text-align: center;
            li{
                list-style-type: none;
                height: 50px;
                padding: 15px;
                &:hover{
                    cursor: pointer;
                    background: #851025;
                }
            }
        }
        &:hover{
            ul{
                display: block;
            }
        }
    }
    .left-side-bar{
        position: fixed;
        width: 200px;
        background: #eef3f7;
        height: 100%;
        overflow: auto;
        padding: 10px 0;
        margin-top: 50px;
        border-right: 1px solid #e4e3e3;
        .profile-block{
            position: relative;
            .profile-image{
                height: 50px;
                width: 50px;
                overflow: hidden;
                border-radius: 100%;
                margin:0 auto;
            }
            .information{
                text-align: center;
                padding: 10px 0;
            }
        }
        .nav-menu {
            width: 100%;
            .title {
                padding: 10px;
                h2 {
                    font-size: 12px;
                    color: #afafaf;
                    font-weight: 600;
                    &.active {
                        font-size: 30px;
                        color: red;
                    }
                }
            }
            ul {
                width: 100%;
                li {
                    width: 100%;
                    list-style-type: none;
                    padding: 10px 0px;
                    padding-left: 25px;
                    overflow: hidden;
                    .sub-menu {
                        max-height: 0;
                        transition: max-height 0.15s ease-out;
                        overflow: hidden;
                        background: #d5d5d5;
                        .sub-menu-text {
                            width: 100%;
                            font-size: 13px;
                            color: #4e4b4b;
                            display: block;
                            padding: 10px 0px;
                            padding-left: 35px;
                        }
                        &.active {
                            max-height: 500px;
                            transition: max-height 0.25s ease-in;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        .icon {
                            svg {
                                fill: $brand_color;
                                g{
                                    g{
                                        path{
                                            fill: $brand_color;
                                        
                                        }
                                    }
                                }
                            }
                        }
                        .text {
                            color: $brand_color;
                        }
                    }
                    .icon {
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 3px;
                        svg {
                            width: 24px;
                            height: 24px;
                            fill: #4e4b4b;
                            g{
                                g{
                                    path{
                                        fill: #4e4b4b;
                                    
                                    }
                                }
                            }
                        }
                    }
                    .text {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 3px;
                        font-size: 14px;
                    }
                    &.active {
                        // padding: 28px 25px;
                    }
                }
            }
        }
    }
    .page-heading{
        font-size: 24px;
        padding: 20px 15px;
        background: #ececec;
        line-height: 30px;
        font-weight: bold;
    }
    .table-box {
        width: 100%;
        background-color: #eef3f7;
        padding: 20px;
        border-bottom: 1px solid #e4e3e3;
    
        .mini-box {
            padding-left: 20px;
            max-width: 100%;
            .text {
                display: block;
                h2 {
                    font-size: 24px;
                    line-height: 1.1;
                    color: #929292;
                    font-weight: 500;
                }
            }
            span {
                display: block;
                font-size: 12px;
                color: #909fa7;
                font-family: inherit;
            }
        }
    }
    .table-scroll {    
        width: 100%;
        border: 1px solid #d9d9d9;
        box-shadow: 0px -3px 0px 0px #cfdbe2;
        border-radius: 3px;
        background-color: white;
        max-width: 1000px;
        min-width: 660px;
        overflow-x: auto;
        margin: 50px;
        .table-header{    
            font-size: 20px;
            padding: 15px;
            border-bottom: 1px solid #d9d9d9;
            .left{
                float: left;
                p{
                    line-height: 32px;
                }
            }
            .right{
                float: right;
            }
        }
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    padding: 10px;
                    text-align: left;
                    color: #000;
                    font-size: 15px;
                    line-height: 17px;
                    font-weight: 600;
                    font-family: sans-serif;
                }
            }
            tbody {
                tr {
                    border-top: 1px solid #eaeaea;
                    &:hover{
                        background: #f8f8f8;
                    }
                    td {
                        padding: 10px;
                        line-height: 15px;
                        text-align: left;
                        font-size: 15px;
                        color: #888888;
                        font-family: sans-serif;
                        vertical-align: middle;
                        &:last-of-type{
                            text-align: center;
                        }
                        img{
                            max-width: 100px;
                        }
                        .icon {
                            height: 24px;
                            width: 24px;
                            display: inline-block;
                            margin-left: 5px;
                            vertical-align: middle;
                            &:hover{
                                cursor: pointer;
                                svg{
                                    fill:$brand_color;
                                }
                            }
                            svg {
                                height: 24px;
                                width: 24px;
                                fill: currentColor;
                            }
                        }
                    }
                }
            }
            .btn{
                border-radius: 3px;
                color: #fff;
                padding: 5px;
                -webkit-box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.75);
                box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.75);
                border: 1px solid #f6827b;
                background: #ff8076;
                margin: 10px 15px;
                &.is-active{
                    background: #6dbd75;
                    border: 1px solid #6dbd75;
                }
                &.is-not-active{
                }
            }
        }
        &.categories-table{
            tr{
                td{
                    img{
                        max-height: 50px;
                        max-width: 50px;
                    }
                }
            }
        }
    }
    .box{
        width: 100%;
        max-width: 320px;
        margin: 0px auto;
        margin-top: 50px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.50);
        .logo {
            padding: 10px;
            background-color: #9a162d;
            .icon {
                margin: 0px auto;
                width: 100%;
                max-width: 41px;
                box-shadow: 0px 0px 40px -12px #000;
            }
        }
        .box-body {
            background-color: white;
            padding-top: 20px;
            .heading {
                text-align: center;
                p {
                    font-size: 16px;
                    font-family: Helvetica, sans-serif;
                    font-weight: 100;
                }
            }
        }
    }
    .form{
        padding: 20px 15px;
        .input{
            width: 100%;
            position: relative;
            margin-bottom: 15px;
            input{
                width: 100%;
                height: 40px;
                line-height: 40px;
                background-color: #fff;
                background-image: none;
                border: 1px solid #dde6e9;
                border-radius: 4px;
                padding: 0px 0 0 50px;
                &:focus{
                    border: 1px solid $brand_color;
                }
            }
            // input[type="checkbox"]{
            //     line-height: normal;
            //     height: initial;
            //     width: initial;
            // }
            // input[type="checkbox"] {
            //     display:none;
            // }
            // input[type="checkbox"] + label {
            //         color: #656565
            // }
            // input[type="checkbox"] + label span {
            //     display:inline-block;
            //     width:19px;
            //     height:19px;
            //     margin:-2px 5px 0 0;
            //     vertical-align:middle;
            //     background:url(../images/check_radio_sheet.png) left top no-repeat;
            //     cursor:pointer;
            // }
            // input[type="checkbox"]:checked + label span {
            //     background:url(../images/check_radio_sheet.png) -19px top no-repeat;
            // }
            input[type="submit"] {
                padding: 0;
            }
            .icon{
                width: 40px;
                position: absolute;
                top: 1px;
                left: 0;
                height: 38px;
                border-right: 1px solid #e2eaec;
                svg{
                    width: 20px;
                    height:20px;
                    margin:10px;
                    fill: #868889;
                }
            }
            .btn{
                background-color: $brand_color;
                color:#fff;
                &:hover{
                    cursor: pointer;
                }
            }
            .left{
                float: left;
                font-size: 14px;
            }
            .right{
                float: right;
                font-size: 14px;
                a{
                    color:#909fa7;
                    text-decoration: none;
                    &:hover{
                        color:#20aefa;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .label-cbx {
        user-select: none;
        cursor: pointer;
        margin-bottom: 0;
    }
    .label-cbx input:checked + .checkbox {
        border-color: #9a162d;
    }
    .label-cbx input:checked + .checkbox svg path {
        fill: #9a162d;
    }
    .label-cbx input:checked + .checkbox svg polyline {
        stroke-dashoffset: 0;
    }
    .label-cbx:hover .checkbox svg path {
        stroke-dashoffset: 0;
    }
    .label-cbx .checkbox {
        position: relative;
        // top: 2px;
        float: left;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        border: 2px solid #C8CCD4;
        border-radius: 3px;
    }
    .label-cbx .checkbox svg {
        position: absolute;
        top: -2px;
        left: -2px;
    }
    .label-cbx .checkbox svg path {
        fill: none;
        stroke: #9a162d;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 71px;
        stroke-dashoffset: 71px;
        transition: all .6s ease;
    }
    .label-cbx .checkbox svg polyline {
        fill: none;
        stroke: #FFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 18px;
        stroke-dashoffset: 18px;
        transition: all .3s ease;
    }
    .label-cbx > span {
        pointer-events: none;
        vertical-align: middle;
    }
    .invisible {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }
    .controlMessage>div{
        color: red;
        margin: 5px;
        font-size: 12px;
    }
    .heading-error{
        color: red;
        margin-bottom: 5px;
    }    
    .modal{
        position: absolute;
        width: 100%;
        background: #ccc;
        top: 0;
        left: 0;
        height: 100%;
        .box{
            max-width: 780px;
            .box-heading{
                font-size: 20px;
                line-height: 32px;
            }
        }
        .close{
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .modal{
        position: fixed;
        top: 0px;
        left: 0px;          
        width: 100%;
        height: 100%;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: -1;
        padding: 15px;
        padding-top: 50px;
        transition: z-index 0s ease 0.5s, all 0.5s ease 0s;
        overflow: auto;
        &.active{
            opacity: 1;
            z-index: 9999;
            display: block;
            transition: all 0.5s ease 0s;
        }
        .close{
            height: 25px;
            width: 25px;
            position: absolute;
            right:25px;
            top:25px;
            svg{
                path{
                    fill:#fff;
                }
            }
            &:hover{
                cursor: pointer;
                svg{
                    path{
                        fill:$brand_color;
                    }
                }
            }
            svg{
                height: 25px;
                width: 25px;
            }
        }
        .box{
            background: white;
            max-width: 700px;
            margin: 0px auto;
            width: 100%;
        }
        .box-heading{
            font-size: 20px;
            line-height: 32px;
            padding: 15px 25px 10px;
            background: #eef3f7;
            border-bottom: 2px solid #a1bed5a6;
        }
        .form{
            padding: 20px;
            background: #eef3f769;
            .input{
                .label{
                    margin-bottom: 5px;
                    font-size: 16px;
                    line-height: 20px;
                } 
                select{
                    padding: 7px 10px;
                    border-radius: 3px;
                    border: 1px solid #ccc;
                    width: 100%;
                    font-size: 16px;
                }
            }
            input{
                padding: 0 15px;
                border-radius: 3px;
                font-size: 15px;
            }
            input[type=file]{
                border:none;
            }
            .fileContainer {
                overflow: hidden;
                position: relative;
            }
            .fileContainer [type=file] {
                cursor: inherit;
                display: block;
                text-align: center;
                font-size: 999px;
                filter: alpha(opacity=0);
                min-height: 100%;
                min-width: 100%;
                opacity: 0;
                position: absolute;
                right: 0;
                text-align: right;
                top: 0;
                height: auto;
            }
            .fileContainer{
                background: #e7e9ea;
                display: inline-block;
                width: 130px;
                padding: 7px 10px;
                border-radius: 3px;
                -webkit-box-shadow: inset 0px 0px 30px -15px rgb(188, 207, 224);
                -moz-box-shadow: inset 0px 0px 30px -15px rgb(188, 207, 224);
                box-shadow: inset 0px 0px 30px -15px rgb(188, 207, 224);
                .icon{
                    height: 24px;
                    width: 24px;
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    svg{
                        height: 24px;
                        width:24px;
                        margin: 0;
                        margin-top: -1px;
                    }
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .image-container{
                height: 150px;
                width: 150px;
                display: inline-block;
                vertical-align: top;
                border: 1px solid #ccc;
                border-radius: 3px;
                overflow: hidden;
                padding: 3px;
                background: #f8f8f8;
                img{
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }
            .btn{
                display: inline-block;
                margin: 20px 0;
                text-align: center;
                padding: 10px 20px;
                background: #e7e9ea;
                color: #000;
                border-radius: 3px;
                font-size: 16px;
                border: 1px solid #e7e9ea;
                &:hover{
                    background: $brand_color;
                    cursor: pointer;
                    color:#fff;
                }
            }
        }
    }
     
}