<div class="zeepzoop">
    <div class="top-nav-bar clearfix">
        <div class="left">
            <div class="logo">
                    <img src="assets/images/app_icon/40X40.png">
                    <span class="logo-text">Zeepzoop</span>
            </div>
        </div>
        <div class="right">
            <div class="login-icon">
                <svg height="24px" version="1.1" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title></title><desc></desc><defs></defs><g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1"><g id="Artboard-1" transform="translate(-395.000000, -407.000000)"><g id="slice" transform="translate(215.000000, 119.000000)"></g><path d="M396,408 L396,430 L411,430 L411,424 L409,424 L409,428 L398,428 L398,410 L409,410 L409,414 L411,414 L411,408 L396,408 Z M411.636039,415.464466 L413.050253,414.050253 L418,419 L413.050253,423.949747 L411.636039,422.535534 L414.170485,420.001088 L403.000499,420.001088 L403.000499,418.00265 L414.174223,418.00265 L411.636039,415.464466 Z" fill="#000000" id="common-logout-signout-exit-glyph"></path></g></g></svg>
            </div>
            <div class="dropdown">
                <div class="dropdown-title">Select</div>
                <ul>
                    <li>option1</li>
                    <li>option2</li>
                    <li>option3</li>
                    <li>option4</li>
                    <li>option5</li>
                </ul>
            </div>
        </div> 
    </div>
</div>