<div class="header">
    <div class="menu-bar clearfix">
        <div class="logo">
            <img src="">
            <span>ZeepZop</span>
        </div>
        <div class="right">
            <ul class="left">
                <li class="menu-icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>

                </li>
                <li class="menu-icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>

                </li>
                <li class="menu-icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </li>

            </ul>
            <ul class="right">
                <button class="login-button">Login</button>
                <li class="menu-icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>

                </li>
                <li class="menu-icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>

                </li>
                <li class="menu-icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </li>
                <li class="menu-icon">
                    <svg enable-background="new 0 0 96 96" height="96px" id="site" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M80,4H16C9.37,4,4,9.37,4,16v76h88V16C92,9.37,86.63,4,80,4z M16,12h64c2.21,0,4,1.79,4,4v12H12V16C12,13.79,13.79,12,16,12  z M12,36h20v48H12V36z M40,84V36h44v48H40z"
                        />
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</div>