<div class="page-heading">
    <h2>Blogs</h2>
</div>
<div class="table-scroll">
    <div class="table-header clearfix">
        <div class="left">
            <p>Blogs</p>
        </div>
        <div class="right">
            <button class="add-button" (click)="add()">Add</button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Blog Image </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let blog of blogs; let i = index">
                <td>{{blog.title}}</td>
                <td>
                    <img [attr.src]="apiUrl+blog.blogPicture" />
                </td>
                <td>
                    <div class="icon" (click)="update(i, 'blogModal')">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 34.5v7.5h7.5l22.13-22.13-7.5-7.5-22.13 22.13zm35.41-20.41c.78-.78.78-2.05 0-2.83l-4.67-4.67c-.78-.78-2.05-.78-2.83 0l-3.66 3.66 7.5 7.5 3.66-3.66z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                    <div class="icon" (click)="delete(i)">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4v-24h-24v24zm26-30h-7l-2-2h-10l-2 2h-7v4h28v-4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal input-modal active" [ngClass]="{'active': currentModal != blogModal}">
    <div class="box">
        <div class="box-heading">{{modalMode}} Categories</div>
        <form [formGroup]="blogForm" class="form">
            <div class="heading-error">{{errorMessage}}</div>
            <div class="input">
                <div class="label">Blog Title:</div>
                <input formControlName="title" id="title" placeholder="blog title" required/>
                <control-messages [control]="blogForm.controls.title" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Blog Image</div>
                <div class="fileContainer">
                    <div class="icon file-overlay">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M38 26h-12v12h-4v-12h-12v-4h12v-12h4v12h12v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                    <input type="file" fileName="blogPicture" (change)="onFileChange($event,'blogImage')" accept="image/*" id="blogPicture" />
                    <img id="blogImage" [attr.src]="modalMode == 'Update'?  apiUrl+blogForm.controls.blogPicture.value : '../../../assets/images/default.png'" />
                </div>
                <input type="hidden" name="fileHidden" formControlName="blogPicture" />
                <control-messages [control]="blogForm.controls.blogPicture" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Author Name:</div>
                <input formControlName="authorName" id="authorName" placeholder="Author name" required/>
                <control-messages [control]="blogForm.controls.authorName" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Author Image</div>
                <div class="fileContainer">
                    <div class="icon file-overlay">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M38 26h-12v12h-4v-12h-12v-4h12v-12h4v12h12v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
                    </div>
                    <input type="file" fileName="authorImage" (change)="onFileChange($event,'authorPicture')" accept="image/*" id="authorImage" />
                    <img id="authorPicture" [attr.src]="modalMode == 'Update'?  apiUrl+blogForm.controls.authorImage.value : '../../../assets/images/default.png'" />
                </div>
                <input type="hidden" name="fileHidden" formControlName="authorImage" />
                <control-messages [control]="blogForm.controls.authorImage" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Meta Description</div>
                <input type="text" formControlName="metaDescription" id="metaDescription" />
                <control-messages [control]="blogForm.controls.metaDescription" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Meta Keyword</div>
                <input type="text" formControlName="metaKeyword" id="metaKeyword" />
                <control-messages [control]="blogForm.controls.metaKeyword" class="controlMessage"></control-messages>
            </div>
            <div class="input">
                <div class="label">Descirption</div>
                <quill-editor formControlName="description" [options]="editorConfig">
                </quill-editor>
                <div class="ql-editor preview" [innerHTML]="description"></div>
                <control-messages [control]="blogForm.controls.description" class="controlMessage"></control-messages>
            </div>

            <div (click)="addOREditBlog()" class="input btn">
                {{modalMode}}
            </div>
        </form>
    </div>
    <div class="close" (click)="closeModal()">
        <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;height: 25px;width: 25px;" version="1.1" viewBox="0 0 512 512"
            width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path>
        </svg>
    </div>
</div>